html, body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	padding:0;
	margin:0;
	overflow-y: hidden;
}

header {
	background: $dark;
	color: $light-gray;
	position: relative;
	height: 50px;
}

.message {
	padding: 25px;
	text-align:center;
	font-size: 25px;
	display:none;
}


.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid $dark;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.hex {
    margin-top: 50px;
    width: 104px;
    height: 60px;
    position: relative;
	background: $dark;
	margin-left: auto;
	margin-right: auto;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid $dark;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.score {
	color: $light;
	padding: 15px;
	font-size: 30px;
	text-align:center;
}

.stage {
	width: 75%;
	background: $light;
	margin: 90px auto 20px;
	position: relative;
}

.dot {
	width: 25px;
	height: 25px;
	margin: 10px;
	display: inline-block;
	color: $light-gray;
	z-index: 1;
	position: absolute;
	font-size: 40px;
	line-height: 20px;
	font-family: 'DejaVuSans';

	&:active {
		transform: scale(1.2, 1.2);
	}
	&:hover {
		animation: pulsate 1s ease-out;
    	animation-iteration-count: infinite;
	}
	&.marked {
		border:1px solid $mid-gray;
	}

	&:before {
		content: '\2B22';
		font-family: 'DejaVuSans';
	}
}

canvas {
  position: absolute;
  z-index: 0;
  background: $light;
  top:0;
  left:0;
}
