html, body {
	height: 100%;
	font-family: arial, verdana, sans-serif;
	padding:0;
	margin:0;
}

header {
	background: $dark;
	color: $light-gray;
}

.message {
	padding: 25px;
	text-align:center;
	font-size: 25px;
}

.score {
	float:left;
	background: $light;
	color: $dark;
	padding: 25px;
	font-size: 25px;
}

.stage {
	width: 50%;
	min-height: 80%;
	background: $light;
	margin: 20px auto;
	position: relative;
}

.dot {
	width: 25px;
	height: 25px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 10px;
	display: inline-block;
	background: $light-gray;
	z-index: 1;
	position: absolute;

	&:active {
		transform: scale(1.2, 1.2);
	}
	&:hover {
		animation: pulsate 1s ease-out;
    	animation-iteration-count: infinite;
	}
	&.marked{
		border:1px solid $mid-gray;
	}

}

canvas {
  position: absolute;
  z-index: 0;
  background: $light;
  top:0;
  left:0;
}
