.alertify-logs {
	background: url(../images/dotties-robot.svg) no-repeat 0px 0px;
	height:100px;
	div.show {
		border-radius: 10px;
		margin-left:95px;
		margin-top: 35px;
		&.default {
			background-color: $light-gray;
			color: $dark;
		}
	}
	&.top {
    	top: 55px;
	}
	&.left {
		left: 12px;
	}
	&.right {
		right: 12px;
	}
}
