.alertify-logs {
	background: url(../images/dotties-robot.svg) no-repeat 0px 0px;
	height:100px;
	div.show {
		border-radius: 10px;
		margin-left:85px;
		margin-top: 35px;
	}
	&.top {
    	top: 55px;
	}
}
